VITE_SUPABASE_URL=https://vezimjiezawuelomlelw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZlemltamllemF3dWVsb21sZWx3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5MzkxMTIsImV4cCI6MjA4ODUxNTExMn0.xVhS34YR1ojwFF7b9IPmE8GPSuVjNVz3zlQJaXqn3KE